// Mixins

@mixin clearfix() {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin columns($column-count) {
    @include clearfix();

    .column {
        box-sizing: border-box;
        float: left;
        padding: 0 .25em;
        width: 100% / $column-count;
    }
}

%thin-orange {
    font-weight: 200;

    h1 {
        font-weight: 200;
        letter-spacing: .77em;
    }

    .food {
        letter-spacing: -.04em;
    }

    .price {
        font-size: 1em;
    }

    .note {
        font-size: .75em;
        text-transform: none;
    }
}
