
@import url("//brick.a.ssl.fastly.net/Bitter:400/Clear+Sans:400/Raleway:100,400/Open+Sans:300/Lato:100,400");

@import '_variables';
@import '_mixins';

h1, dl, dt, dd {
    margin: 0;
}

body {
    background: url('../images/ricepaper.png');
    color: black;
    padding: 0.5em;
}

header {
    font-family: Raleway;
    font-weight: 100;
    letter-spacing: -0.04em;
    word-spacing: 0.15em;
    text-align: center;

    h1 {
        font-size: 1em;
        font-weight: 100;
    }

    img, .street {
        display: block;
    }

    img {
        margin: 0 auto;
    }

    a {
        &:link, &:hover, &:active, &:visited, &:focus {
            color: black;
            font-weight: 400;
            text-decoration: none;
        }
        span {
            color: orange;
            font-size: 1.75em;
            font-weight: 100;
            vertical-align: sub;
        }
    }

    .address {
        margin: 1em 0 2em;
    }
}

.menu {
    @include columns( 5 );
}

@each $section in $menu-sections {
    .#{$section} {
        padding: 0.15em 0.25em;
        text-align: justify;

        h1 {
            color: map_get( $colors-map, "#{$section}-heading" );
            font-family: map_get( $fonts-map, "#{$section}-heading" );
        }
        .food {
            color: map_get( $colors-map, "#{$section}-food" );
            font-family: map_get( $fonts-map, "#{$section}-food" );
        }
        .price {
            color: map_get( $colors-map, "#{$section}-price" );
            float: right;
            font-family: map_get( $fonts-map, "#{$section}-price" );
            margin-top: -1em;
            position: relative;
        }
        .note {
            color: map_get( $colors-map, "#{$section}-note" );
            font-family: map_get( $fonts-map, "#{$section}-note" );
        }
    }
}

header, .greens, .snacks h1, .snacks .food {
    text-transform: uppercase;
}

.snacks h1 {
    font-weight: 100;
}

.snacks {
    @include column-break();
}
