
@import url("//brick.a.ssl.fastly.net/Bitter:400/Clear+Sans:400/Raleway:100,400/Lato:200");
@import url("http://fonts.googleapis.com/css?family=Spirax");

@import '_variables';
@import '_mixins';

html, body, h1, h2, dl, dt, dd {
    margin: 0;
}

body {
    background: url('../images/ricepaper.png');
    color: black;
    font-family: arial, sans-serif;
    font-size: 1.3em;
    padding: 0.5em;
}

header {
    font-family: Raleway;
    font-weight: 100;
    letter-spacing: -0.04em;
    word-spacing: 0.15em;
    text-align: center;

    h1 {
        font-size: 1em;
        font-weight: 100;
    }

    img, .street {
        display: block;
    }

    img {
        margin: 0 auto;
    }

    a {
        &:link, &:hover, &:active, &:visited, &:focus {
            color: black;
            font-weight: 400;
            text-decoration: none;
        }
        span {
            color: orange;
            font-size: 1.75em;
            font-weight: 100;
            vertical-align: sub;
        }
    }

    .address {
        margin: 1em 0 1em;
    }
}

.menu {
    @include columns( 5 );
    margin: 1em 0;
}

footer {
    font-size: 0.9em;
    font-variant: small-caps;
}

.category {
    box-sizing: border-box;
    line-height: 1;
    margin-bottom: 1em;
    padding: 0.15em 0.25em;
    text-align: justify;
    text-transform: uppercase;

    h1 {
        margin-bottom: 0.25em;
    }

    .food {
        padding-right: 0.65em;
        text-align: left;
    }
    .food ~ .food {
        margin-top: 0.5em;
    }
    .price {
        float: right;
        font-size: 0.75em;
        margin-top: -1em;
        position: relative;
    }
    .note {
        font-size: 0.5em;
    }
}

@each $section in $menu-sections {
    .#{$section} {
        h1 {
            color: map_get( $colors-map, "#{$section}-heading" );
            font-family: map_get( $fonts-map, "#{$section}-heading" );
        }
        .food {
            color: map_get( $colors-map, "#{$section}-food" );
            font-family: map_get( $fonts-map, "#{$section}-food" );
        }
        .price {
            color: map_get( $colors-map, "#{$section}-price" );
            font-family: map_get( $fonts-map, "#{$section}-price" );
        }
        .note {
            color: map_get( $colors-map, "#{$section}-note" );
            font-family: map_get( $fonts-map, "#{$section}-note" );
        }
    }
}

.greens {
    border: 3px black double;
    padding: 0 0.5em 0.5em;
    h1 {
        border-bottom: 1px solid black;
    }
}

.snacks, .sides {
    &, h1, .waters h1 {
        font-weight: 200;
    }
    .food {
        letter-spacing: -0.04em;
    }
    .price {
        font-size: 1em;
    }
    .note {
        font-size: 0.75em;
        text-transform: none;

    }
}

.waters {
    font-size: 1.2em;

    .food {
        font-size: 1.1em;
        text-align: justify;

        & ~ .food {
            border-top: 1px solid black;
            margin-top: 0.5em;
            padding-top: 0.5em;
        }
    }
}

.butcher {
    h1, .special {
        background: $color-maroon;
        margin-bottom: 0;
        padding: 0.35em;
        text-align: center;
    }
    h1 {
        font-size: 1em;
    }
    dl {
        border-left: 1px solid $color-maroon;
        border-right: 1px solid $color-maroon;
        padding: 0.25em 0.5em;
    }
    .food {
        padding-right: 0;
        text-transform: none;
    }
    .price {
        font-size: 0.5em;
        margin-top: 0;
    }
    .note {
        padding-right: 0.75em;
    }
    .special h2 {
        font-family: Raleway;
        font-size: 1.1em;
        font-weight: 100;
    }
    .special .price {
        float: none;
        font-size: 0.8em;
        margin-top: 0;
    }
    .special .note {
        font-size: 0.6em;
        text-transform: none;
    }
    .special h2, .special .price, .special .note {
        color: $color-light;
    }
}

.meats {
    h1 {
        border-bottom: 1px solid $color-dark;
        padding-bottom: 0.25em;
        span {
            color: $color-maroon;
            font-size: 0.4em;
        }
    }
    .food ~ .food {
        margin-top: 1em;
    }
    .price {
        font-size: 0.5em;
        margin-top: 0;
    }
}

.prime {
    background: $color-dark;
    padding: 0.5em 0;
    h1 {
        border-bottom: 1px solid $color-light;
        letter-spacing: 1em;
        margin-bottom: 0.3em;
        padding-bottom: 0.25em;
        padding-left: 0.35em;
        text-align: center;
    }
    dl {
        padding: 0 0.5em;
    }
    .food span {
        font-size: 0.65em;
    }
}

.sausage {
    text-align: center;
}
