
@import '_variables';

@each $section in $menu-sections {
    .#{$section} {
        h1 {
            color: map_get( $colors-map, "#{$section}-heading" );
        }
        .food {
            color: map_get( $colors-map, "#{$section}-food" );
        }
        .about {
            color: map_get( $colors-map, "#{$section}-describe" );
        }
    }
}
