.sausage {
    border: .15em black double;
    padding: .25em .5em;
    text-align: center;

    .price {
        float: none;
        font-size: .5em;
        margin-top: 0;
    }

    .food {
        font-size: .8em;
        padding-right: 0;
        text-align: center;

        ~ .food {
            margin-top: 1em;
        }
    }

    .special {
        margin-top: 1em;

        h2 {
            border: .05em solid black;
            font-family: $font-serif;
            font-size: 1em;
            padding: .25em .35em;
            text-decoration: underline;

            .price {
                font-size: .75em;
            }
        }

        .note {
            font-size: .6em;
        }
    }
}
