.snacks {
    &,
    h1 {
        font-weight: 200;
    }

    h1 {
        letter-spacing: .77em;
    }

    .food {
        letter-spacing: -.04em;
    }

    .price {
        font-size: 1em;
    }

    .note {
        font-size: .75em;
        text-transform: none;
    }
}
